.container{
    width: 1280px;
    margin:0 auto;
    
}
.nav-about{
    width: 100%;
    background-color: #1C1E53;
    height: 92px;
}
.main{
    display: flex;
    justify-content: space-between;
    
}
.logo img{
    margin-top: 32px;
}
.menu{
    display: flex;
    align-items: center;
    margin-top: 16px;
}
.menu ul{
    display: flex;
    list-style: none;
}
.menu ul .menu-link{
    text-decoration: none;
    
}
.menu ul .menu-link{
    padding:0 16px;
    font-weight: 500;
    color: rgb(192, 191, 191);
}
.menu ul .menu-link:hover{
    color: white;
}

.menu .contact-us{
    padding: 16px 48px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 41px;
    font-weight: 500;
    margin-left: 48px;
    color: white;
    transition: 0.5s;
}
.menu .contact-us:hover{
    background-color: #FCD980;
}
.menu-link{
    text-decoration: none;
}