.price-title{
    text-align: center;
}
.price-title h2{
    font-size: 48px;
    font-weight: 600;
}
.price-title p{
   color: #282938;
   padding-top: 16px;
}
.price-body{
    margin: 60px 0 0;
    display: flex;
    justify-content: space-between;
}
.price-card {
    width: 406px;
    padding: 50px 0;
    background-color: #F4F6FC;
    border-radius: 12px;
}
.pr-head{
    display: flex;
    align-items: center;
}
.pr-head h3 {
    margin: 0;
    font-size: 38px;
    font-weight: 600;
}
.pr-head p{
    color: #2405F2;
    padding-left: 8px;
}
.price-details{
    margin-left: 48px;
}
.pr-dt h6 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}
.pr-dt p{
    color: #282938;
    padding-top: 8px;
}

.details-box p{
    margin-top: 20px;
}

a.get{
    padding: 16px 77px;
    text-decoration: none;
    text-align: center;
    border-radius: 41px;
    color: black;
    transition: 0.5s;   
}
a.get:hover{
    background-color: #282938;
    color: white;
}
.f-paly {
    display: flex;
    align-items: center;
}
.f-paly p{
    
    padding-left: 15px;
}